<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.9/vue.min.js"></script>
</head>
<body>
	<div id="app">
		<h1>数组遍历</h1>
		<ul>
			<li v-for='(name,index) in names' key='index'>{{index+1}} : {{name}}</li>
		</ul>
		<h1>对象遍历</h1>
		<ul>
			<li v-for='(value,key) in info'>{{key}} : {{value}}</li>
		</ul>
	</div>
</body>
</html>
<script>
	const app = new Vue({
		el:'#app',
		data:{
			names:["A","B","C","D"],
			info:{
				title:'标题',
				desc:'描述信息'
			}
		}
	})
</script>