<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.9/vue.min.js"></script>
    <style>
        span{
			display: inline-block;
			min-width: 30px;
			text-align: center;
		}
	</style>
</head>

<body>
    <div id="app" style="width: 80%;margin:120px auto;">
        <table class="table">
            <thead>
                <tr>
                    <th>编号</th>
                    <th>名称</th>
                    <th>价格</th>
                    <th>操作</th>
                    <th>移除</th>
                </tr>
            </thead>
            <tbody>
                <tr v-if='books.length<=0'>
                    <td colspan="5" style="text-align: center;">暂时没有任何数据</td>
                </tr>
                <tr v-else v-for='(book,index) in books'>
                    <td>{{book.id}}</td>
                    <td>{{book.title}}</td>
                    <td>{{book.price | finalPrice}}</td>
                    <td>
                        <button type="button" v-bind:disabled='book.counts<=1' class="btn btn-primary btn-sm" @click='decrement(index)'>-</button>
                        <span>{{book.counts}}</span>
                        <button type="button" class="btn btn-primary btn-sm" @click='increment(index)'>+</button>
                    </td>
                    <td>
                        <button type="button" @click='removeHandle(index)' class="btn btn-danger btn-sm">移除</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <p v-if='books.length>0'>总价格：<strong>{{totalPrice | finalPrice}}</strong></p>
    </div>
</body>

</html>
<script>
const app = new Vue({
    el: '#app',
    data: {
        books: [{
                id: '001',
                title: 'JavaScript高级编程',
                price: 69,
                counts: 1
            },
            {
                id: '002',
                title: 'CSS3样式布局',
                price: 26,
                counts: 15
            },
            {
                id: '003',
                title: 'Vue2.X实战',
                price: 78,
                counts: 3
            },
            {
                id: '004',
                title: 'React编程',
                price: 99,
                counts: 5
            }
        ]
    },
    methods: {
        increment: function(index) {
            this.books[index].counts++;
        },
        decrement: function(index) {
            this.books[index].counts--;
        },
        removeHandle: function(index) {
            this.books.splice(index, 1);
        }
    },
    computed: {
        totalPrice: function() {
            return this.books.reduce((pre, cur) => pre + cur.price * cur.counts, 0);
        }
    },
    filters: {
        finalPrice: function(price) {
            return `$${price.toFixed(2)}`
        }
    }
})
</script>